# Quagga Mussel
#### *Dreissena rostriformis bugensis*
---

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

import numpy as np
import pandas as pd

import flbs_ais.nas as nas

#### Database Species Search Results
This doesn't work as the NAS database uses three names here. Got the ID from the CSV file instead.

In [ ]:
search_result = nas.species_search('', '')
search_string = nas.species_string(search_result)
print(search_string)

---
## API Query Dataframe for Quagga Mussel

In [3]:
api_key = ""
with open("../tmp/api_key.txt", 'r') as file:
    api_key = file.readline()
api_df = nas.getdf(95, keep_columns=None, limit=-1, api_key=api_key)
print(f"Results: {len(api_df)}")
api_df.head()

Results: 1305

,specimennumber,speciesid,group,family,genus,species,scientificname,commonname,country,state,...,year,month,day,status,comments,recordtype,disposal,museumcatnumber,freshmarineintro,references
0,116837,95,Mollusks-Bivalves,Dreissenidae,Dreissena,rostriformis,Dreissena rostriformis,quagga mussel,NaN,ONT,...,1992,12,NaN,established,,Literature,,,Freshwater,"[{'key': 26189, 'refType': 'Report', 'year': 1..."
1,116844,95,Mollusks-Bivalves,Dreissenidae,Dreissena,rostriformis,Dreissena rostriformis,quagga mussel,NaN,ONT,...,1992,12,NaN,established,,Literature,,,Freshwater,"[{'key': 26189, 'refType': 'Report', 'year': 1..."
2,116846,95,Mollusks-Bivalves,Dreissenidae,Dreissena,rostriformis,Dreissena rostriformis,quagga mussel,NaN,ONT,...,1992,12,NaN,established,,Literature,,,Freshwater,"[{'key': 26189, 'refType': 'Report', 'year': 1..."
3,116848,95,Mollusks-Bivalves,Dreissenidae,Dreissena,rostriformis,Dreissena rostriformis,quagga mussel,NaN,ONT,...,1992,12,NaN,established,,Literature,,,Freshwater,"[{'key': 26189, 'refType': 'Report', 'year': 1..."
4,116850,95,Mollusks-Bivalves,Dreissenidae,Dreissena,rostriformis,Dreissena rostriformis,quagga mussel,NaN,ONT,...,1992,12,NaN,established,,Literature,,,Freshwater,"[{'key': 26189, 'refType': 'Report', 'year': 1..."

---
## Most Common References for API Query Dataframe

In [4]:
api_ref_count = nas.ref_counts(api_df)
print(nas.ref_string(api_ref_count, limit=5))

--------
Most common reference 1

Source number:      1
Title:              Invader invaded: population dynamics of zebra mussels&nbsp;(<em>Dreissena polymorpha</em>) and quagga mussels (<em>Dreissena&nbsp;rostriformis bugensis</em>) in polymictic Oneida Lake, NY, USA&nbsp;(1992&ndash;2013)
Author:             Hetherington, A.L., L.G. Rudstam, R.L. Schneider, K.T. Holeck, C.W. Hotaling, J.E. Cooper, and J.R. Jackson
Publisher:
Publisher Location:
Year:               2019
Reference Type:     Journal Article

Source number:      2
Title:              Lakewide zebra and quagga mussel summary, Oneida Lake, New York, 1992 to present
Author:             Rudstam, L.G.
Publisher:          Knowledge Network for Biocomplexity
Publisher Location:
Year:               2019
Reference Type:     Database

Total Occurrences:  465
--------

--------
Most common reference 2

Total Occurrences:  328
--------

--------
Most common reference 3

Source number:      1
Title:              Midwest Invasive Species Information Network (MISIN)
Author:             Michigan State University Board of Trustees.
Publisher:          Michigan State University. Department of Entomology - Applied Spatial Ecology and Technical Services Laboratory
Publisher Location: East Lansing, MI
Year:               2019
Reference Type:     Database

Source number:      2
Title:              Illinois Database of Aquatic Non-native Species
Author:             Loyola University Chicago
Publisher:          GISIN
Publisher Location: Fort Collins, CO
Year:               2013
Reference Type:     Database

Total Occurrences:  75
--------

--------
Most common reference 4

Source number:      1
Title:              Tech memo 164, Baldridge Unpub>
Lake Michigan Dreissena Density Database 3 May 2016
Author:             Baldridge, Ashley
Publisher:          NOAA GLERL
Publisher Location:
Year:               2016
Reference Type:     Database

Source number:      2
Title:              Lake-Wide Benthic Surveys in Lake Michigan in 1994-95, 2000, 2005, and 2010: Abundances of the Ampipod Diporeia Spp. and Abundances and Biomass of the Mussels Driessena Polymorpha and Dreissena Rostriformis Bugensis
Author:             Nalepa, T.F.. D.L. Fanslow, G.A. Lang, K.Mabrey, and M.Rowe
Publisher:
Publisher Location:
Year:               2014
Reference Type:     Report

Total Occurrences:  70
--------

--------
Most common reference 5

Source number:      1
Title:              2012 Eastern Finger Lakes Benthic Aquatic Invertebrate Assessment (unpublished).
Author:             Wunderlich, M.
Publisher:
Publisher Location:
Year:               2012
Reference Type:     Database

Total Occurrences:  53
--------

---
## CSV File Dataframe for Quagga Mussel
NOTE: Edit the file path in the following code block

In [5]:
csv_df = nas.process_csv_df("../tmp/NAS-Data-QuaggaMussel.csv")
print(f"Results: {len(csv_df)}")
csv_df.head()

Results: 1305

,specimennumber,speciesid,group,family,genus,species,scientificname,commonname,country,state,...,year,month,day,status,comments,recordtype,disposal,museumcatnumber,freshmarineintro,references
0,116958,95,Mollusks-Bivalves,Dreissenidae,NaN,NaN,Dreissena rostriformis bugensis,quagga mussel,Canada,ONT,...,1991,12.0,NaN,established,NaN,Personal communication,NaN,NaN,Freshwater,[]
1,116954,95,Mollusks-Bivalves,Dreissenidae,NaN,NaN,Dreissena rostriformis bugensis,quagga mussel,Canada,ONT,...,1991,12.0,NaN,established,NaN,Personal communication,NaN,NaN,Freshwater,[]
2,116957,95,Mollusks-Bivalves,Dreissenidae,NaN,NaN,Dreissena rostriformis bugensis,quagga mussel,Canada,ONT,...,1991,12.0,NaN,established,NaN,Personal communication,NaN,NaN,Freshwater,[]
3,116955,95,Mollusks-Bivalves,Dreissenidae,NaN,NaN,Dreissena rostriformis bugensis,quagga mussel,Canada,ONT,...,1991,12.0,NaN,established,NaN,Personal communication,NaN,NaN,Freshwater,[]
4,116956,95,Mollusks-Bivalves,Dreissenidae,NaN,NaN,Dreissena rostriformis bugensis,quagga mussel,Canada,ONT,...,1991,12.0,NaN,established,NaN,Personal communication,NaN,NaN,Freshwater,[]

---
## Most Common References for CSV File Dataframe

In [6]:
csv_ref_count = nas.ref_counts(csv_df)
print(nas.ref_string(csv_ref_count, limit=5))

--------
Most common reference 1

Source number:      1
Title:              Invader invaded: population dynamics of zebra mussels&nbsp;(<em>Dreissena polymorpha</em>) and quagga mussels (<em>Dreissena&nbsp;rostriformis bugensis</em>) in polymictic Oneida Lake, NY, USA&nbsp;(1992&ndash;2013)
Author:             Hetherington, A.L., L.G. Rudstam, R.L. Schneider, K.T. Holeck, C.W. Hotaling, J.E. Cooper, and J.R. Jackson
Publisher:          nan
Publisher Location: nan
Year:               2019
Reference Type:     Journal Article

Source number:      2
Title:              Lakewide zebra and quagga mussel summary, Oneida Lake, New York, 1992 to present
Author:             Rudstam, L.G.
Publisher:          Knowledge Network for Biocomplexity
Publisher Location: nan
Year:               2019
Reference Type:     Database

Total Occurrences:  465
--------

--------
Most common reference 2

Total Occurrences:  328
--------

--------
Most common reference 3

Source number:      1
Title:              Midwest Invasive Species Information Network (MISIN)
Author:             Michigan State University Board of Trustees.
Publisher:          Michigan State University. Department of Entomology - Applied Spatial Ecology and Technical Services Laboratory
Publisher Location: East Lansing, MI
Year:               2019
Reference Type:     Database

Source number:      2
Title:              Illinois Database of Aquatic Non-native Species
Author:             Loyola University Chicago
Publisher:          GISIN
Publisher Location: Fort Collins, CO
Year:               2013
Reference Type:     Database

Total Occurrences:  75
--------

--------
Most common reference 4

Source number:      1
Title:              Tech memo 164, Baldridge Unpub>
Lake Michigan Dreissena Density Database 3 May 2016
Author:             Baldridge, Ashley
Publisher:          NOAA GLERL
Publisher Location: nan
Year:               2016
Reference Type:     Database

Source number:      2
Title:              Lake-Wide Benthic Surveys in Lake Michigan in 1994-95, 2000, 2005, and 2010: Abundances of the Ampipod Diporeia Spp. and Abundances and Biomass of the Mussels Driessena Polymorpha and Dreissena Rostriformis Bugensis
Author:             Nalepa, T.F.. D.L. Fanslow, G.A. Lang, K.Mabrey, and M.Rowe
Publisher:          nan
Publisher Location: nan
Year:               2014
Reference Type:     Report

Total Occurrences:  70
--------

--------
Most common reference 5

Source number:      1
Title:              2012 Eastern Finger Lakes Benthic Aquatic Invertebrate Assessment (unpublished).
Author:             Wunderlich, M.
Publisher:          nan
Publisher Location: nan
Year:               2012
Reference Type:     Database

Total Occurrences:  53
--------